.form-group {
  margin: 5px;
}

div.form-group label {
  font-weight: bold;
  width: 100px;
}
div.form-group button {
  font-weight: bold;
  padding-right: 50px;
  text-align: center;
}

.registration-table {
  width: 100%;
  border-collapse: collapse;
}

.registration-table th, .registration-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.error {
  color: red;
}
