
<div class="container">
  Model Data {{jsonData}}
</div>

<div class="form-group">
  <label for="type">Type:</label>
  <select [(ngModel)]="newRegistration.type" id="type">
    <option *ngFor="let type of registrationTypes" [value]="type">{{ type }}</option>
  </select>
</div>

<div class="form-group">
  <label for="chairMan">Obmann:</label>
  <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)" placeholder="Search..." />
  <ul>
    <li *ngFor="let result of results">{{ result.name }}</li>
  </ul>
  <input [(ngModel)]="newRegistration.chairMan" id="chairMan" type="text">
</div>

<div class="form-group">
  <label for="race">Rennen:</label>
  <input id="race" type="text" [(ngModel)]="newRegistration.race">
</div>

<div class="form-group">
  <label for="startNo">Start No:</label>
  <input [(ngModel)]="newRegistration.startNo" id="startNo" type="text">
</div>

<div class="form-group">
  <label for="team">Team:</label>
  <input [(ngModel)]="newRegistration.team" id="team" type="text">
</div>

<div class="form-group">
  <label for="position1">Position 1:</label>
  <input id="position1" type="text" [(ngModel)]="newRegistration.position1">
</div>

<div class="form-group">
  <label for="position2">Position 2:</label>
  <input id="position2" type="text" [(ngModel)]="newRegistration.position2">
</div>

<div class="form-group">
  <label for="position3">Position 3:</label>
  <input id="position3" type="text" [(ngModel)]="newRegistration.position3">
</div>

<div class="form-group">
  <label for="position4">Position 4:</label>
  <input id="position4" type="text" [(ngModel)]="newRegistration.position4">
</div>

<div class="form-group">
  <label for="position5">Position 5:</label>
  <input id="position5" type="text" [(ngModel)]="newRegistration.position5">
</div>

<div class="form-group">
  <label for="position6">Position 6:</label>
  <input id="position6" type="text" [(ngModel)]="newRegistration.position6">
</div>

<div class="form-group">
  <label for="position7">Position 7:</label>
  <input id="position7" type="text" [(ngModel)]="newRegistration.position7">
</div>

<div class="form-group">
  <label for="position8">Position 8:</label>
  <input id="position8" type="text" [(ngModel)]="newRegistration.position8">
</div>

<div class="form-group">
  <label for="positionCox">Steuermann:</label>
  <input id="positionCox" type="text" [(ngModel)]="newRegistration.positionCox">
</div>

<div class="form-group">
  <button class="btn btn-light" id="reset" (click)="onReset()">Zur&uuml;cksetzen</button>
  <button class="btn btn-secondary" id="submit" (click)="onSubmit()">Abschicken</button>
</div>
